In [2]:
#import packages
import pandas as pd

#Load data
data = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep='\t')

In [17]:
#Show first 10 rows
print(data.head(10))

   order_id  quantity                              item_name  \
0         1         1           Chips and Fresh Tomato Salsa
1         1         1                                   Izze
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                           Chicken Bowl
5         3         1                           Chicken Bowl
6         3         1                          Side of Chips
7         4         1                          Steak Burrito
8         4         1                       Steak Soft Tacos
9         5         1                          Steak Burrito

                                  choice_description  item_price
0                                                NaN        2.39
1                                       [Clementine]        3.39
2                                            [Apple]        3.39
3                                                NaN        2.39
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...       16.98
5  [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...       10.98
6                                                NaN        1.69
7  [Tomatillo Red Chili Salsa, [Fajita Vegetables...       11.75
8  [Tomatillo Green Chili Salsa, [Pinto Beans, Ch...        9.25
9  [Fresh Tomato Salsa, [Rice, Black Beans, Pinto...        9.25

In [8]:
#What is the number of observations in the dataset
data.shape[0]

4622

In [9]:
#What is the number of columns in the dataset?
data.shape[1]

5

In [10]:
#Print the name of all the columns.
data.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [11]:
#How is the dataset indexed
data.index

RangeIndex(start=0, stop=4622, step=1)

In [7]:
#Which was the most ordered item?
data.groupby('item_name').sum().sort_values(by=['quantity'],ascending=False).head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

In [8]:
#What was the most ordered item in the choice_description column?
data.groupby('choice_description').sum().sort_values(by=['quantity'], ascending=False).head(1)

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

In [9]:
#How many items were orderd in total?
data.quantity.sum()

4972

In [15]:
#Turn the item price into a float
dollarizer = lambda x : float(x[1:-1])
data['item_price'] = data['item_price'].apply(dollarizer)

In [16]:
data['item_price'].dtypes

dtype('float64')

In [24]:
#How much was the revenue for the period in the dataset?
data.item_price.sum()

34500.16

In [19]:
#How many orders were made in the period?
data['order_id'].nunique()

1834

In [21]:
#What is the average quantity per order?
order_grouped = data.groupby(by=['order_id']).sum()
order_grouped['quantity'].mean()

2.711014176663032

In [25]:
#What is the average amount per order?
order_grouped['item_price'].mean()

18.81142857142869

In [26]:
#What are the three most expensive items?
data['unit_price'] = (data['item_price']/data['quantity'])
new_data = data[['item_name', 'choice_description','unit_price']]
new_data.sort_values(by='unit_price', ascending=False)

,item_name,choice_description,unit_price
2442,Barbacoa Salad Bowl,"[Tomatillo Green Chili Salsa, [Rice, Fajita Ve...",11.89
2957,Steak Salad Bowl,"[Fresh Tomato Salsa, [Black Beans, Cheese, Gua...",11.89
613,Steak Salad Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.89
2401,Steak Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Guaca...",11.89
281,Steak Salad Bowl,"[Tomatillo Red Chili Salsa, [Black Beans, Chee...",11.89
...,...,...,...
378,Canned Soda,[Mountain Dew],1.09
1805,Canned Soda,[Sprite],1.09
2520,Canned Soda,[Coca Cola],1.09
2981,Bottled Water,NaN,1.09
646,Canned Soda,[Sprite],1.09